@import url("http://fonts.googleapis.com/earlyaccess/notosanskr.css");
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color:red;
}
body{
  font-family: "Noto Sans KR", Noto Serif Serif;
  color: #454545;
}
